/* estilos generales  */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.mape {
  position: relative;
}

span {
  background: rgb(0, 0, 0) !important;
  opacity: 1;
  display: none;
}

/* Demostracion de indicadores de lluvia */
.elipse {
  position: absolute;
  width: 15%;
  top: 27%;
  left: 36%;
}

.elipse:hover{
  cursor: pointer;
}

.elipse2 {
  position: absolute;
  width: 13%;
  top: 50%;
  left: 70%;
}

.elipse3 {
  position: absolute;
  width: 10%;
  top: 70%;
  left: 20%;
}

/* Demostracion de indicadores de calidad del aire */

.elipseGreen {
  position: absolute;
  width: 18%;
  top: 25%;
  left: 35%;
}

.elipseRed {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 70%;
}

.elipseYellow {
  position: absolute;
  width: 20%;
  top: 70%;
  left: 20%;
}

/*  Elipse Fuego en la primavera  */

.primavera {
  position: absolute;
  width: 12%;
  top: 70%;
  left: 20%;
}

/* Mobile First */

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.location-text {
  width: 50%;
}

.map {
  width: 100%;
}

.text {
  text-align: center;
  padding: 5em 0;
}



/* propiedades alerta */

.hide-propiedades {
  display: none;
}

.section-hide {
  opacity: .5;
}

.propiedades {
  position: absolute;
  opacity: 1;
  background: white;
  box-shadow: 0 .3em .3em 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
  padding: 7%  10%;
}

.propiedades h2 {
  text-align: center;
}

.button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.6em;
  text-align: center;
}

.check {
  position: relative;
  width: 15%;
  top: .1em;
  margin: 0em .5em;
}



/* Responsive */

@media only screen and (min-width: 875px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }

  .mape {
    width: 60%;
  }

  span {
    display: inherit;
  }

}
